<br><br><br><br><br>
<div class="ui container" id="team-layout">
  <br>
  <h2 class="ui horizontal divider header">
    <i class="users icon"></i>
    Teams
  </h2>
  <br>
  <div class="ui grid">
    <% @favorite_teams.each do |team| %>
      <div class="five wide column">
      <div class="column">
        <div class="ui segment">
          <table class="ui very basic center aligned table">
            <thead>
              <tr>
                <%= image_tag(team.image, class: "ui mini image") %>
                <th><%= team.city %> <%= team.name %> Fans</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <% team.users.each do |user| %>
                    <%= user.name %>
                    <% if user.followed_by(current_user) %>
                      <%= link_to "Unfollow", follow_path(user.followed_by(current_user)), method: :delete, class: "ui mini right floated basic blue button" %>
                    <% else %>
                      <%= form_for :follow, url: follows_path do |f| %>
                        <%= f.hidden_field :target_id, value: user.id %>
                        <%= f.submit "Follow", class: "ui mini right floated basic blue button" %>
                        <% end %>
                    <% end %>
                  <% end %>
                </td><br>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  <% end %>
  </div>
</div>
