<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Please Pick your Favorite NBA Team and your Profile Description
  </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <%= form_for(User.new, url: user_path(current_user.id), :html => { method: :patch }) do |f| %>
          <%= f.label "Favorite Team" %><br>
          <%= f.collection_select :favorite_team, FavoriteTeam.all, :id, :name, { prompt: "Choose a favorite team" }, { id: "select"} %><br><br>
          <%= f.label 'Profile Description (optional)' %>
          <%= f.text_area :description, rows: 2 %><br><br>
          <%= f.submit "Update Profile", class: "ui button" %>
        <% end %>
        <div class="actions">
        </div>
      </div>
    </div>
  </div>
</div>
