<div class="ui card">
  <%= cache cache_for_profile(User, "profile") do %>
    <div class="image">
      <%= image_tag(user.profile_image) %>
    </div>
    <div class="content">
      <a class="header username"><%= user.name %></a>
    <div class="meta">
      <span class="date"><%= user.favorite_team.city %> <%= user.favorite_team.name %></span>
    </div>
    <div class="description">
      <%= user.description %>
    </div>
    </div>
    <%= link_to "Edit Profile", "#", class: "ui right floated blue button" %>
  <% end %>
</div>
