<div class="ui card">
  <div class="image">
    <%= image_tag(user.profile_image) %>
    <!-- <img src="/images/avatar2/large/kristy.png"> -->
  </div>
  <div class="content">
    <a class="header"><%= user.name %></a>
  <div class="meta">
    <span class="date"><%= user.favorite_team.city %> <%= user.favorite_team.name %></span>
  </div>
  <div class="description">
    <%= user.description %>
  </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Followers
    </a>
  </div>
  <%= link_to "Edit Profile", "#", class: "ui right floated blue button" %>
</div>
