<table class="ui very basic table">
  <thead>
    <tr>
      <th></th>
      <% if all_game_stats.home_team_stats_by_quarter.nil? %>
        <th>Q1</th>
        <th>Q2</th>
        <th>Q3</th>
        <th>Q4</th>
      <% else %>
        <% all_game_stats.home_team_stats_by_quarter.each do |quarter| %>
          <th>Q<%= quarter.number %></th>
        <% end %>
          <th>Final</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if all_game_stats.home_team_name.nil? %>
      <tr>
        <td><strong><%= all_game_stats.no_game_message %></strong></td>
      </tr>
    <% else %>
      <tr>
        <td><%= all_game_stats.home_team_name %></td>
        <% all_game_stats.home_team_stats_by_quarter.each do |quarter| %>
          <td><%= quarter.points%></td>
        <% end %>
        <td><%= all_game_stats.home_team_total_points %></td>
      </tr>
      <tr>
        <td><%= all_game_stats.away_team_name %></td>
        <% all_game_stats.away_team_stats_by_quarter.each do |quarter| %>
          <td><%= quarter.points %></td>
        <% end %>
        <td><%= all_game_stats.away_team_total_points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
