<html>
  <body id="layout">
    <div class="ui large top fixed hidden menu">
      <div class="ui container">
        <%= link_to "SportsAddict", root_path, class: "item", id: "nav-logo-second" %>
        <div class="right menu">
          <div class="item">
            <% if current_user %>
              <%= link_to "Logout", logout_path, class: "ui inverted blue button" %>
            <% else %>
              <%= link_to "Login", login_path, class: "ui inverted blue button" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
      <% if current_user %>
        <%= link_to "Logout", logout_path, class: "item" %>
      <% else %>
        <%= link_to "Login", login_path, class: "item" %>
      <% end %>
    </div>


    <!-- Page Contents -->
    <div class="pusher">
      <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
              <i class="sidebar icon"></i>
            </a>
            <%= link_to "SportsAddict", root_path, class: "item", id: "nav-logo" %>
          </div>
        </div>

        <div class="ui text container">
          <h2 class="ui inverted header">
            Enjoy the game the <strong>Right</strong> way!
          </h2>
          <h2></h2>
          <% if current_user %>
            <%= link_to "Dashboard", dashboard_path, class: "ui huge blue button" %>
          <% else %>
            <p><strong>Login</strong> with </p>
            <%= link_to login_path, class: "ui huge twitter button" do %>
              <i class="twitter icon"></i>Twitter
            <% end %>
          <% end %>
        </div>
      </div>


      <div class="ui vertical stripe segment">
        <div class="ui text container">
          <h3 class="ui header">Real-Time Stats</h3>
          <p>Keep up with your favorite teams stats in real time, while you chat on your news feed with other fans!</p>
          <h4 class="ui horizontal header divider">
            Stay in the Game
          </h4>
          <h3 class="ui header">What team has the most support?</h3>
          <p>Follow your fellow fans to see what they have to say about the games. Or follow your rivals and talk as much trash as you want! Its all fun!</p>
        </div>
      </div>

      <%= render partial: 'partials/landing_footer' %>
    </div>
  </body>
</html>
