<br><br><br><br><br>
<body>
  <div class="ui container">
    <div class="ui equal width grid">
      <div class="row">
      <div class="column">
        <div class="ui segment">
          <%= render partial: 'partials/profile_info', locals: { user: @user } %>
          <%= render partial: 'partials/dashboard_modal', locals: { user: @user } %>
        </div>
        <div class="ui segment">
          <%= render partial: 'partials/standings', locals: { standings: @standings, favorite_team_conference: @favorite_team_conference, team_image: @team_image } %>
        </div>
      </div>

      <div class="seven wide column">
        <div class="ui segment">
          <%= render partial: 'partials/game_stats' %>
        </div>
        <div class="ui segment">
          <%= render partial: 'partials/activity_feed' %>
        </div>
      </div>

      <div class="column">
        <div class="ui segment">
          <%= render partial: 'partials/schedule' %>
        </div>
        <div class="ui segment">
          <%= render partial: 'partials/game_alert' %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
