<!DOCTYPE html>
<html>
<head>
  <title>SportsAddict</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'partials/nav_bar' unless current_page?('/') %>
  <%= yield %>
<%= render partial: 'partials/footer' unless current_page?('/') %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
